# dependencies
/node_modules

# environment variables
.env
.env.*

# building
/build
/public/dist

# testing
/coverage

# misc
.DS_Store
/lib/**/package-lock.json

# logs
npm-debug.log*

# ESLint
.eslintcache

# patches added by web3-patches
/patches/web3*
