/*################################################################################### HOME */
body.home {
  background-position: right top;
  background-size: auto;

  .welcome {
    height: 500px;

    @media (max-width: 991px) {
      height: auto;
    }
  }

  .white-half {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 900px;
    background-color: #fff;
  }
  .gray-fade {
    position: absolute;
    top: 1015px;
    display: block;
    width: 100%;
    height: 800px;
    background: #eaeaea; /* Old browsers */
    background: -moz-linear-gradient(
      top,
      #eaeaea 0%,
      #ffffff 50%,
      #ffffff 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      #eaeaea 0%,
      #ffffff 50%,
      #ffffff 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      #eaeaea 0%,
      #ffffff 50%,
      #ffffff 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    @media (max-width: 991px) {
      top: 800px;
    }
  }

  .slashes {
    top: -100px;
  }

  @media (max-width: 767px) {
    .about {
      img {
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }
    .connect {
      .lead {
        margin-bottom: 15px !important;
      }
    }
  }
}

.auction {
  margin-top: 100px;
}
.carousel {
  height: 490px;
  background-image: url('../images/carousel-bg.jpg');
  background-size: cover;

  img,
  p {
    margin: 75px auto;
  }

  p {
    font-size: 23px;
    color: $gray-light;
    text-align: center;

    a {
      font-size: 15px;
    }

    @media (max-width: 991px) {
      font-size: 16px;
      color: #afafaf;
      padding: 0 46px;
    }
  }

  i {
    font-size: 26px;
  }

  @media (max-width: 991px) {
    .carousel-control-next,
    .carousel-control-prev {
      width: 10%;
    }
  }
}
.card {
  border-radius: 0;

  .card-image {
    height: 240px;
  }

  h2 {
    color: #6448d9;
    font-weight: 700;
    font-size: 60px;

    @media (max-width: 991px) {
      font-size: 42px;
    }
  }

  p {
    padding: 0 16px;
    max-width: 260px;
    height: 140px;
  }
}
.connect {
  .lead {
    /* max-width: 350px; */
  }

  .nav-connect {
    text-align: right;

    li {
      display: inline-block;
      margin: 0 4px 4px 0;
    }

    a {
      display: block;
      width: 68px;
      height: 68px;
      padding-top: 16px;
      font-size: 36px;
      color: #a2a2a2;
      text-align: center;

      &:hover {
        background-color: #7e61f8 !important;
        color: #fff;
      }
    }

    @media (max-width: 1199px) {
      max-width: 220px;
    }
  }

  @media (max-width: 767px) {
    .lead {
      max-width: none;
    }
  }
}
.nav-milestones {
  padding-left: 0;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 0;
    height: 100%;
    width: 1px;
    border-left: 2px solid $purple;
  }
  .ms-date,
  .ms-title {
    display: inline-block;
    height: 62px;
    padding: 10px 20px;
    color: #eaeaea;
    letter-spacing: 0.1em;
    line-height: 1em;
  }

  .ms-date {
    font-size: 14px;
    font-weight: 700;
    background-color: #6448d9;
  }
  .ms-title {
    font-size: 17px;
    background-color: $purple;
  }

  .ms-link {
    font-size: 14px;
    font-weight: 700;
  }
  .ms-break {
    height: 25px;
  }

  i {
    color: $purple;
    font-size: 12px;
  }

  @media (max-width: 991px) {
    display: block;

    &.flex-column {
      flex-direction: unset !important;
    }

    .nav-item {
      display: block !important;
    }

    i,
    &:before {
      display: none !important;
    }

    .ms-date,
    .ms-title {
      width: 100%;
    }

    .ms-date {
      height: 30px;
      padding: 8px 20px;
    }

    .ms-title {
      height: auto;
      padding: 10px 20px 12px;
      line-height: 1.2em;
    }

    .ms-link {
      display: block !important;
      text-align: right;
    }
  }
}

/*################################################################################### BUY */
.options {
  .option {
    margin-bottom: 120px;

    h2 {
      line-height: 1.6em;
    }

    h3 {
      font-weight: 500;
    }
  }

  @media (max-width: 767px) {
    .lead {
      margin-bottom: 0 !important;
    }

    .option {
      margin-bottom: 60px;

      img {
        max-width: 60%;
      }
    }
  }
}

/*################################################################################### BUILD */
.links {
  .q-link {
    a {
      display: block;
      position: relative;
      height: 170px;
      padding: 30px;
      overflow: hidden;
      background-color: $purple;
      font-size: 18px;
      color: #fff;
      text-decoration: underline;

      > div {
        position: relative;
        z-index: 2;
      }

      .page-turn {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 35px 0 0 35px;
        border-color: transparent transparent transparent #6548d9;
      }

      .accent {
        display: block;
        position: absolute;
        bottom: 9px;
        left: -4px;
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-size: 60px;
        font-weight: 700;
        color: #6448d9;
        opacity: 0.4;
        z-index: 1;
      }

      &.q-first {
        background-color: $gray-dark;

        .page-turn {
          border-color: transparent transparent transparent #1c1c1c;
        }

        .accent {
          color: #1c1c1c;
          opacity: 0.4;
        }
      }

      &.q-first:hover {
        background-color: #1c1c1c;

        .page-turn {
          border-color: transparent transparent transparent $gray-dark;
        }

        .accent {
          color: $gray-dark;
        }
      }

      &:hover {
        background-color: #6548d9;

        .page-turn {
          border-color: transparent transparent transparent $purple;
        }

        .accent {
          color: $purple;
        }
      }
    }
  }

  .slashes {
    bottom: 150px;
  }
}

/*################################################################################### ENGAGE */
.engage {
  .nav-tabs {
    border: none;

    .nav-link {
      border-radius: 0;
      border: none;
      background-color: #bfbfbf;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: $white;

      &:hover {
        background-color: darken(#bfbfbf, 10%);
      }

      &.active {
        background-color: $gray-dark;
        color: #b2b2b2;
      }
    }
  }

  .tab-content {
    .tab-pane {
      padding: 60px;
      background-color: $gray-dark;
      height: 490px;

      p {
        max-width: 370px;
      }

      &.primary-tab,
      &.secondary-tab,
      &.icon-tab {
        background-position: right center;
        background-repeat: no-repeat;
      }

      &.primary-tab {
        background-image: url('../images/tab-primary-logo.png');
      }
      &.secondary-tab {
        background-image: url('../images/tab-secondary-logo.png');
      }
      &.token-tab {
        background-image: url('../images/tab-token-icon.png');
      }
    }
  }

  .meet {
    h3 {
      font-size: 26px;
      font-weight: 500;
    }

    form {
      .form-control {
        border: 2px solid #d1d1d1;
      }
    }

    a.connect {
      position: absolute;
      right: 80px;
      top: 165px;
    }
  }

  @media (max-width: 991px) {
    .nav-tabs {
      display: block;

      .nav-item {
        margin-bottom: 0;
        border-bottom: 1px solid #ddd;
      }
    }

    .tab-content {
      .tab-pane.primary-tab,
      .tab-pane.secondary-tab,
      .tab-pane.token-tab {
        background-size: 50%;
        background-position: right top;
        background-repeat: no-repeat;
      }
    }
  }
}

/*################################################################################### WALLET */
.wallet {
  .intro {
    @media (max-width: 768px) {
      a {
        display: block;
        margin-bottom: 10px;
        max-width: 85%;
        text-align: left;
      }
    }
  }
  .look {
    img {
      position: relative;
      z-index: 1;
    }
  }
  .download {
    background-color: #1c1c1c;
    padding-top: 390px;
    margin-top: -390px;

    @media (min-width: 768px) and (max-width: 991px) {
      padding-top: 290px;
      margin-top: -290px;
    }
    @media (max-width: 767px) {
      padding-top: 40px;
      margin-top: 0;
    }
  }
}

/*################################################################################### ABOUT */
.about {
  .intro {
    padding-bottom: 90px;
  }

  .principles {
    h3 {
      position: relative;
      background-color: $purple;
      height: 62px;
      font-weight: 500;

      span {
        position: relative;
        z-index: 1;

        &.angle {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 62px 0 0 62px;
          border-color: transparent transparent transparent #6548d9;
          z-index: 0;
        }
      }
    }
  }

  .origin {
    overflow: hidden;
    padding-top: 95px;

    > img {
      position: absolute;
      right: -145px;
      top: 0;

      @media (min-width: 992px) and (max-width: 1199px) {
        max-width: 60%;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        max-width: 66%;
      }
      @media (max-width: 767px) {
        position: relative;
        right: auto;
        top: auto;
        padding: 40px;
      }
    }

    @media (max-width: 767px) {
      padding-top: 0;
    }
  }

  .subscribe {
    position: relative;
    padding: 100px 0 180px;
    background-image: url('../images/slashes-repeater.png');
    background-repeat: repeat-x;
    background-position: center 130px;

    .bg-dark {
      position: relative;
      padding: 45px;
    }

    .plus {
      position: absolute;
      left: -18px;
      top: 47px;
      display: block;
      width: 39px;
      height: 39px;
      padding: 5px;
      background-color: $purple;
      border-radius: 50%;
      text-align: center;
    }

    form {
      text-align: right;

      .email,
      .btn {
        width: 240px !important;
        display: inline-block;
        border-width: 2px;
        height: 48px;
        vertical-align: top;
      }

      .email {
        color: $white;
        background-color: transparent;
        border-color: #454545;
      }
    }

    @media (max-width: 767px) {
      padding: 60px 0;

      .bg-dark {
        h3 {
          margin-bottom: 15px;
        }
      }

      .plus {
        top: -18px;
        left: calc(50% - 18px);
      }

      form {
        text-align: center;

        input {
          margin: 2px 0 !important;
        }
      }
    }
  }

  .team {
    h4 {
      font-size: 18px;
    }
  }

  .info {
    p {
      max-width: 470px;
    }
  }
}
