/*################################################################################### HOME */

body.home {
	overflow-x: hidden;

	.navbar .navbar-nav .nav-item.active .nav-link,
	.navbar .navbar-nav .nav-item:hover .nav-link {
		color: #FFF;
	}

	&.scrolled {
		.quick-buy {
			margin-top: -490px;
			margin-bottom: 65px;
		}
	}
	@media(max-width: 991px) {
		header.site-header .navbar {
			background: $purple;
		}
		.toggler-inner, .toggler-inner:after,
		.toggler-inner:before,
		.toggler.is-active .toggler-inner,
		.toggler.is-active .toggler-inner:after,
		.toggler.is-active .toggler-inner:before {
			background-color: #FFF;
		}
		/* &.scrolled {
			padding-top: 80px;
		} */

	}

	.top {
		height: 1426px;
		padding: 117px 0 0 0;
		/* background-image: url('../images/whispy-bg-purple.jpg');
		background-position: right top;
		background-size: cover; */

		background: rgb(126,97,248);
		background: -moz-linear-gradient(180deg, rgba(126,97,248,1) 0%, rgba(126,97,248,1) 35%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(180deg, rgba(126,97,248,1) 0%, rgba(126,97,248,1) 35%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 100%);
		background: linear-gradient(180deg, rgba(126,97,248,1) 0%, rgba(126,97,248,1) 35%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7e61f8",endColorstr="#FFFFFF",GradientType=1);

		> .container {
			position: relative;
			z-index: 1;
		}
		.whisp {
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 0;
			img {
				width: 100%;
			}
		}
		.hero {
			padding: 105px 0;
			.typing-titles {
				margin-left: 25px;

				h1.page-title {
					visibility: hidden;
					padding-top: 0;
				}

				h2.page-title {
					padding-top: 0;
					color: #FFF;

					span#typed {
						span {
							color: #6BEBBF;
						}
					}
				}
				h3.quotes {
					color: #FFF;
					font-size: 35px;
					font-weight: 300;
				}
			}
		}

		.site-tagline {
			padding-bottom: 75px;
			text-align: center;

			h2 {
				font-size: 35px;
			}
		}

		@media(max-width:991px) {
			height: auto;
			padding: 20px 0 10px;

			.hero {
				padding: 20px 0 50px;
				.typing-titles {
					.page-title {
						font-size: 32px;
						color: $gray-dark;
						margin: 0;
					}
					h3.quotes {
						font-size: 24px;
					}
				}
			}
		}
		@media(max-width:767px) {
			padding: 25px 0 10px;

			.hero {
				padding: 20px 0 25px;

				.sub-rotate {
					display: block;
					height: 56px;
				}
			}
		}
		.quotes {
			display: none;
			&.first {
				display: block;
			}
		}

		.buy-options {
			position: relative;
			padding: 30px;
			margin-bottom: 75px;
			background-color: rgba(255,255,255,.15);

			.br {
				&:after {
					content: '';
					position: absolute;
					display: block;
					width: 2px;
					height: 100%;
					top: 0;
					right: 5px;
					background-color: rgba(126,97,248,1);
				}
			}
			.option {
				max-width: 315px;

				h4 {
					font-size: 15px;
					text-transform: uppercase;
					color: $white;
					padding-bottom: 10px;
					margin-bottom: 10px;
					border-bottom: 2px solid #FFF;
				}
				.prices {
					font-weight: 500;
					padding-bottom: 10px;
					margin-bottom: 15px;
					border-bottom: 2px solid rgba(255,255,255,.35);
					label {
						font-size: 15px;
						color: $gray-dark;
					}
					.price {
						color: $gray-dark;
						text-align: right;
						&.met-price {
							font-size: 25px;
						}
						&.eth-price {
							font-size: 15px;
						}
					}
				}
				.buy-info {
					font-size: 14px;
					color: #6C50E2;
					margin-bottom: 20px;
					label {
						margin-bottom: 0;
					}
					span {
						display: block;
						text-align: right;
						font-weight: 700;
					}
				}
				.buy-links {
					background-color: $purple;

					.btn-buy {
						color: #FFF;
						text-align: left;
						width: 66%;
						padding: 15px 20px;
						background-color: #6C50E2;
						outline: none !important;
						box-shadow: none !important;

						&:hover,
						&:focus {
							background-color: #6448d9;
						}
					}
					.btn-info {
						background-color: transparent;
						border: none;
						outline: none !important;
						box-shadow: none !important;

						&:hover,
						&:focus {
							opacity: .6
						}
					}
				}
			}

			@media(max-width:575px) {
				.br {
					border-right: none;
					border-bottom: 2px solid #7e61f8;
					padding-bottom: 20px;
					margin-bottom: 20px;
					&:after {
						display: none;
					}
				}
				.option {
					max-width: none;
					.prices {
						.price {
							text-align: left;
						}
					}
					 .buy-info {
						 line-height: 1.4em !important;
						 span {
						 	text-align: left;
						 	margin-bottom: 5px;
						 }
					 }
				}
			}
			@media(min-width:576px) and (max-width:991px) {
				margin-bottom: 75px;

				.br {
					border-right: none;
					border-bottom: 2px solid #7e61f8;
					padding-bottom: 20px;
					margin-bottom: 20px;
					&:after {
						display: none;
					}
				}
				.option{
					max-width: none;
					.price {
						text-align: left;
					}
				}


			}
			@media(min-width:992px) and (max-width:1199px) {
				margin-bottom: 78px;

				.br {
					&:after {
						right: -1px;
					}
				}
				.option {
					.prices {
						.price {
							text-align: left;
						}
					}
					 .buy-info {
						 line-height: 1.4em !important;
						 span {
						 	text-align: left;
						 	margin-bottom: 5px;
						 }
					 }
				}
			}

		}
		.wallet {
			position: relative;
			z-index: 1;

			.wallet-info {
				margin-top: 100px;

				p {
					color: #898989;
					a {
						text-decoration: none;
					}
				}
				@media(max-width: 991px) {
					margin-top: 0;
				}
			}
			img.wallet-img {
				margin-left: 100px;
			}

			@media(max-width: 991px) {
				.wallet-info {
					margin-top: 0;
				}
				img.wallet-img {
					margin-left: 0;
					max-width: 100%;
				}
			}
		}
	}
	&.scrolled {
		.top {
			/* padding-top: 77px; */
		}
	}

	@media (max-width: 767px) {
		.top {
			.hero {
				.met-token {
					width: 75px;
				}
				.typing-titles {
					margin-left: 15px;
					h1 {
						font-size: 32px;
					}

					h3.quotes {
						font-size: 24px;
					}
				}
			}

		}
		.about {
			img {
				margin-top: 40px;
				margin-bottom: 40px;
			}
		}
		.connect {
			.lead {
				margin-bottom: 15px !important;
			}
		}
	}
}
.news {
	padding-top: 150px;
	background: #eaeaea;
	background: -moz-linear-gradient( top, #eaeaea 0%, #FFFFFF 50%, #FFFFFF 100%);
	background: -webkit-linear-gradient( top, #eaeaea 0%, #FFFFFF 50%, #FFFFFF 100%);
	background: linear-gradient( to bottom, #eaeaea 0%, #FFFFFF 50%, #FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff', GradientType=0);

	.connect {
		margin-top: -152px;
		padding-bottom: 40px;
	}
	.bs-slider {
		padding-bottom: 40px;
	}
	.milestones {
		padding-bottom: 40px;
	}
	h2 {
		font-size: 35px;
		text-align: center;
		margin-bottom: 20px;
	}
	.news-items {
		background-color: rgba(203,190,255,.15);
		padding: 30px;

		a {
			padding: 20px;

			&:hover,
			&:focus {
				opacity: .8;
			}
		}
	}
	@media(max-width: 991px) {
		padding-top: 50px;
	}
	@media(max-width: 767px) {
		.news-items {
			a {
				display: block !important;
				margin: 0 auto 20px;
				text-align: center;
			}
		}
	}

}
.messari {
	padding-bottom: 0;

	h2 {
		font-size: 35px;
		text-align: center;
		margin-bottom: 15px;
	}
	.messari-content {
		text-align: center;
		font-weight: 700;
		margin-bottom: 30px;

		h5 {
			color: #333335;
		    font-size: 18px;
		    line-height: 1.6em;
		    font-weight: 700;

			a {

				font-size: 15px;
				letter-spacing: .1em;

				&:first-child {
					margin-right: 30px;
				}

				&:hover,
				&:focus {
					text-decoration: none;
					opacity: .85;
				}

				img {
					margin-right: 5px;
				}
			}

			@media(max-width:767px) {
				a {
					display: block;
					margin: 8px 0;
				}
			}
		}
	}

	background: transparent;
	background: -moz-linear-gradient( bottom, #B3A3F5 0%, #FFFFFF 100%);
	background: -webkit-linear-gradient( bottom, #B3A3F5 0%, #FFFFFF 100%);
	background: linear-gradient( to top, #B3A3F5 0%, #FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#B3A3F5', GradientType=0);

}

.exchanges {

	padding-top: 100px;
    padding-bottom: 15px;

	.exch {
		border-right: 2px dotted #B2B2B2;

		@media(max-width:1199px) {
			border: none !important;
		}
	}

	h3 {
		text-align: center;
		font-size: 28px;
		margin-bottom: 20px;
	}

	.exchange-icons {
		max-width: 466px;
		margin: 0 auto;
	}

	.wallets {
		max-width: 466px;
		margin: 0 auto;

		.edge-wallet {
			background-color: rgba(108,80,226,.25);
			border-radius: 16px;
			
			a {
				color: #6C50E2;
				text-transform: uppercase;
				font-size: 15px;
				text-decoration: none;

				strong {
					margin-left: 15px;
				}

				&:hover {

					strong {
						color: #333335;
						text-decoration: none;
					}
				}
			}
		}
		.add-wallets {

			.wallet {

				a {
					color: #333335;
					font-size: 14px;
					font-weight: 500;

					strong {
						margin-left: 10px;
					}

					&:hover {
						color: #6C50E2;
						text-decoration: none;
					}
				}
			}
		}
	}


}
.process {
	padding-top: 75px;
	background: #eaeaea;
	background: -moz-linear-gradient( bottom, #eaeaea 0%, #FFFFFF 30%, #FFFFFF 100%);
	background: -webkit-linear-gradient( bottom, #eaeaea 0%, #FFFFFF 30%, #FFFFFF 100%);
	background: linear-gradient( to top, #eaeaea 0%, #FFFFFF 30%, #FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);

	.process-inner {
		max-width: 1400px;
		margin: 0 auto;
	}
	.quick-buy {
		margin-top: -450px;
		margin-bottom: 65px;
	}
	.step {
		&:before {
			content: "";
			display: block;
			padding-top: 115px;
			/* header height + empty space */
			margin-top: -115px;
			/* header height to degrees padding’s space */
		}
		.step-info {
			position: relative;
			max-width: 400px;
			text-align: center;
			/* padding-left: 50px; */
			h2,
			h3 {
				max-width: 300px;
				margin: 40px 0 30px;
				text-align:center;
				font-size: 25px;
			}
			h2.step-title {
				max-width: none;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;

				span:first-child {
					position: absolute;
					width: 80%;
					height: 1px;
					border-top: 2px dotted #B2B2B2;
				}
				span:last-child {
					position: relative;
					background: #FFF;
					padding: 0 13px;
				}
			}
			img {
				margin: 0 auto;
			}
			p {
				max-width: 320px;
				margin: 0 auto;
				line-height: 2em;
			}
			a {
				font-size: 15px;

				&:hover,
				&:focus {
					color: $purple-dark;
					text-decoration: none;
				}
			}

		}
		@media(max-width: 1199px) {
			.card-image {
				img {
					max-width: 100%;
					margin: 0 auto;
				}
			}
			.step-info {
				h2 {
					font-size: 28px;
				}
			}
		}
	}

	@media(max-width:991px) {
		padding-top: 50px;
		.quick-buy {
			margin-top: 0;
			margin-bottom: 50px;
		}
		.step-info h2.step-title {
			margin-top: 0;
		}
	}
	@media(max-width:767px) {
		.step-info {
			margin: 0 auto 40px;
		}
	}
}
.milestones {
	padding: 75px 0 175px;

	h2 {
		text-align: center;
	}
	.milestone-slider {
		.slick-slide {
			outline: none !important;
		}
		.milestone {
			margin: 0 2px;

			.ms-icon {
				img {
					margin: 0 auto;
				}
			}
			.ms-date {
				padding: 5px;
				text-align: center;
				text-transform: uppercase;
				color: $purple;
			}
			.ms-title {
				padding: 10px 20px 5px 20px;
				text-align: center;
				margin-top: 2px;
				height: 100px;
				display: flex !important;
				align-items: center !important;
				justify-content: center!important;
				h5 {
					text-align: center;
					color: $gray-dark;
					font-size: 18px;
					line-height: 1.6em;
					font-weight: 700;
				}
			}
		}
		.slider-dots {
			position: absolute;
		    border-top: 2px dotted #B2B2B2;
		    width: 840px;
		    top: 30%;
		    left: 135px;
		    z-index: -1;

		    @media(min-width: 992px) and (max-width: 1199px) {
			    left: 45px;
		    }
		    @media(min-width:768px) and (max-width: 991px) {
			    width: 600px;
			    left: 45px;
		    }
		    @media(max-width:767px) {
			 	left: 0;
			}
		}
		@media(max-width:767px) {
			overflow: hidden;
		}
	}
}
.slick-arrow {
	outline: none !important;
	background: transparent;
	position: absolute;
	display: block;
	height: 29px;
	width: 20px;
	line-height: 1;
	font-size: 0;
	cursor: pointer;
	top: 50%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 0;
	border: none;
	z-index: 2;
	&:before {
		font-size: 26px;
		width: 20px;
		height: 29px;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		color: #fff;
	}
	&.slick-prev {
		left: -27px;
		&:before {
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content: "\f053";
		}
		@media(max-width:767px) {
			left: 5px;
		}
	}
	&.slick-next {
		right: -27px;
		&:before {
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content: "\f054";
		}
		@media(max-width:767px) {
			right: 5px;
		}
	}
}
.home .slick-arrow {
	&:before {
		color: #44D8A5;
	}
}
.nav-milestones {
	padding-left: 0;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		left: 5px;
		top: 0;
		height: 100%;
		width: 1px;
		border-left: 2px solid $purple;
	}
	.ms-date, .ms-title {
		display: inline-block;
		height: 62px;
		padding: 10px 20px;
		color: #eaeaea;
		letter-spacing: 0.1em;
		line-height: 1em;
	}
	.ms-date {
		font-size: 14px;
		font-weight: 700;
		background-color: #6448d9;
	}
	.ms-title {
		font-size: 17px;
		background-color: $purple;
	}
	.ms-link {
		font-size: 14px;
		font-weight: 700;
	}
	.ms-break {
		height: 25px;
	}
	i {
		color: $purple;
		font-size: 12px;
	}
	@media (max-width: 991px) {
		display: block;
		&.flex-column {
			flex-direction: unset !important;
		}
		.nav-item {
			display: block !important;
		}
		i, &:before {
			display: none !important;
		}
		.ms-date, .ms-title {
			width: 100%;
		}
		.ms-date {
			height: 30px;
			padding: 8px 20px;
		}
		.ms-title {
			height: auto;
			padding: 10px 20px 12px;
			line-height: 1.2em;
		}
		.ms-link {
			display: block !important;
			text-align: right;
		}
	}
}
/*################################################################################### BUY */
body.buy {
	.buy-col {
		max-width: 490px;

		h3 {
			margin: 30px 0;
			font-weight: 700;
			font-size: 25px;
		}
	}
	.options {

		.option {
			padding: 60px 0;
		}
		.third-parties {
			display: flex;
			justify-content: flex-start !important;
			flex-wrap: wrap !important;

			a {
				display: flex;
				align-items: center !important;
				width: 65px;
				height: 65px;
				border-radius: 16px;
				box-shadow: none;
				position: relative;
				text-align: center;
				margin-right: 10px;
				margin-bottom: 10px;

				&:hover {
					box-shadow: 0 0 2px 3px rgba(126,97,248,.5);
				}

				img {
					display: block;
					margin: 0 auto;
				}


			}
			/* Animated circle thing */
			/* a:hover {
			  color: $purple;
			}
			a::before,
			a::after {
			  box-sizing: inherit;
			  content: '';
			  position: absolute;
			  width: 100%;
			  height: 100%;
			  top: 0;
			  left: 0;
			  border-radius: 16px;
			}
			a::before {
			  border: 2px solid transparent;
			}
			a:hover::before {
			  border-top-color: $purple;
			  border-right-color: $purple;
			  border-bottom-color: $purple;
			  //transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
			}
			a::after {
			  border: 0 solid transparent;
			}
			a:hover::after {
			  border-top: 2px solid $purple;
			  border-left-width: 2px;
			  border-right-width: 2px;
			  //transform: rotate(270deg);
			  //transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
			} */
		}
		@media (max-width: 767px) {
			.option {
				padding-bottom: 0 !important;

				img {
					margin: 15px auto;
				}
			}
		}
	}
}

body.buy {
	.intro {
		height: 550px;
		overflow: hidden;
		padding: 117px 0 0 0;
		background-image: url('../images/whispy-bg-inner.jpg');
		background-position: right top;
		background-size: cover;
	}
	@media(max-width:767px) {
	    .intro {
	    	height: auto;
			padding: 50px 0;
			background-size: auto;
		}

	    .buy-nav {
		    margin-top: 0;
			padding-top: 50px;
			padding-bottom: 0;

			.buy-block,
			.buy-block .nav-intro {
				height: auto;
			}
	    }
	}
	@media(min-width:767px) and (max-width: 991px) {
		.intro {
	    	height: auto;
			padding: 50px 0;
		}

	    .buy-nav {
		    margin-top: 0;
			padding-top: 50px;

			.buy-block .nav-intro {
				height: 190px;
				padding: 30px 20px 20px;
			}
		}
	}
}


.buy-page,
.about-page {
	background: #eaeaea;
	background: -moz-linear-gradient( top, #eaeaea 0%, #ffffff 50%, #ffffff 100%);
	background: -webkit-linear-gradient( top, #eaeaea 0%, #ffffff 50%, #ffffff 100%);
	background: linear-gradient( to bottom, #eaeaea 0%, #ffffff 50%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff', GradientType=0);
}

/*################################################################################### BUILD */
body.build,
body.engage {
	.intro {
	    padding: 117px 0;
		background: #eaeaea;
		background: -moz-linear-gradient( top, #eaeaea 0%, #ffffff 100%);
		background: -webkit-linear-gradient( top, #eaeaea 0%, #ffffff 100%);
		background: linear-gradient( to bottom, #eaeaea 0%, #ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff', GradientType=0);

		h4.sup-title {
			max-width: 250px;
			padding-top: 130px;
			font-weight: 500;
			color: $gray-mute;
			border-bottom: 2px solid #d1d1d1;
			padding-bottom: 20px;
		}
		h1.page-title {
			padding-top: 40px;
			max-width: 675px;
		}
	}

	@media(max-width:991px) {
		.intro {
			padding: 50px 0;

			h4.sup-title {
				padding-top: 0;
			}

			.intro-img {
				margin-top: 10px !important;

			}
		}
	}
	@media(max-width:767px) {
		.intro-img img {
			max-width: 100%;
			height: auto;
			margin: 0 auto;
			display: block;
		}
	}

}
.build .intro-img img {
	margin-left: -150px;
	@media(max-width:767px) {
		margin-left: 0;
	}
}
body.build {
	.intro {
		padding-bottom: 50px;
	}
}
/*################################################################################### ENGAGE */
.engage {

	.meet,
	.media {
		h2 {
			font-size: 35px;
			font-weight: 700;
			padding-bottom: 30px;
			margin-bottom: 30px;
			border-bottom: 2px solid #d1d1d1;

			@media(max-width:991px) {
				margin: 15px 0 30px;
				font-size: 24px;
			}
		}
		form {
			.form-control {
				border: 2px solid #d1d1d1;
				border-width: 0 0 2px 0;
				padding-left: 0;
				font-size: 14px;
				font-weight: 500;
				-webkit-transition: all 0.25s ease;
				-moz-transition: all 0.25s ease;
				-o-transition: all 0.25s ease;
				transition: all 0.25s ease;

				&:focus {
					background: #eaeaea;
					box-shadow: none;
					padding-left: .75rem;
				}
				&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
				  color: #B2B2B2;
				  opacity: 1; /* Firefox */
				  font-weight: 500;
				}
				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				  color: #B2B2B2;
				  font-weight: 500;
				}
				&::-ms-input-placeholder { /* Microsoft Edge */
				  color: #B2B2B2;
				  font-weight: 500;
				}
			}
		}
		a.connect {
			position: absolute;
			right: 80px;
			top: 165px;
		}
	}
	@media (max-width: 991px) {
		.nav-tabs {
			display: block;
			.nav-item {
				margin-bottom: 0;
				border-bottom: 1px solid #ddd;
			}
		}
		.tab-content {
			.tab-pane.primary-tab, .tab-pane.secondary-tab, .tab-pane.token-tab {
				background-size: 50%;
				background-position: right top;
				background-repeat: no-repeat;
			}
		}
	}

	.media {

		@media(max-width:991px) {
			padding-top: 0 !important;

			img {
				max-width: 100%;
			}
		}
	}

	.join {
		height: 612px;
		background-image: url('../images/purple-web.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: 110px;
		margin: 40px 0 175px;
		position: relative;

		.connect {
			margin-top: -187px;


		}
		.telegram {

			> .container {
				position: relative;
			}

			img {
				display: block;
				margin: 0 auto;
			}

			.mobile-chat {
				display: none;
			}

			.telegram-connect {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 105px;
				text-align: center;
				a {
					display: inline-block;
				}
			}

		}

		@media(max-width:575px) {
			margin-bottom: 75px;

			.connect {
				margin-top: -160px;
			}
			.telegram {
				text-align: left;

				.desktop-chat {
					display: none;
				}
				.mobile-chat {
					display: block;
				}
				.telegram-connect {
					text-align: left;
					right: auto !important;
					left: 20px;
					bottom: 46px;
					max-width: 125px;

				}
			}
		}
		@media(min-width:576px) and (max-width:767px) {
			margin-bottom: 75px;

			.connect {
				margin-top: -160px;
			}
			.telegram {
				text-align: left;

				.desktop-chat {
					display: none;
				}
				.mobile-chat {
					display: block;
				}
				.telegram-connect {
					text-align: left;
					right: auto !important;
					left: 60px;
				    bottom: 46px;
				    max-width: 175px;

				}
			}

		}
		@media(min-width:768px) and (max-width:991px) {
			margin-bottom: 130px;

			.connect {
				margin-top: -160px;
			}
			.telegram-connect img {
				max-width: 125px;
			}
		}

	}

	.media {
		padding-top: 50px;
		padding-bottom: 125px;
	}

}
/*################################################################################### WALLET */
body.wallet {
	.intro {
	    padding: 117px 0 30px;
		background: #eaeaea;
		background: -moz-linear-gradient( top, #eaeaea 0%, #ffffff 100%);
		background: -webkit-linear-gradient( top, #eaeaea 0%, #ffffff 100%);
		background: linear-gradient( to bottom, #eaeaea 0%, #ffffff 100%);
		//filter: progid:DXImageTransform..lMicrosoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff', GradientType=0);

		h1.page-title {
			max-width: 675px;
		}
		.wallet-img {
			margin-top: 60px;

		}
		.features {
			border-top: 2px solid #d1d1d1;
			margin-top: -90px;

			ul {
				margin-top: 80px;
				padding: 0 0 0 10px;
				list-style: none;
				color: #31BC8C;
				font-style: italic;
			}
		}

		@media(min-width: 768px) and (max-width:991px) {
			padding: 50px 0 30px;

			.wallet-img {
				margin-top: 0px;
			}
		}
		@media(max-width:767px) {
			padding: 50px 0 30px;
			.wallet-img {
				display: none;
			}
			.features {
				border-top: none;
				margin-top: 0;
			}
		}
	}
	.look {
		position: relative;
		.look-bg {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 50%;
			background-color: #1C1C1C;
			z-index: -1;
		}
		img.mobile-wallet {
			display: none;
		}
		@media(max-width:767px) {
			img.desktop-wallet {
				display: none;
			}
			img.mobile-wallet {
				display: block;
				margin: 0 auto;
			}
		}
	}
	.download {
		background-color: #1c1c1c;
		padding-top: 390px;
		margin-top: -390px;
		@media (min-width: 768px) and (max-width: 991px) {
			padding-top: 290px;
			margin-top: -290px;
		}
		@media (max-width: 767px) {
			padding-top: 40px;
			margin-top: 0;
		}
	}


}
/*################################################################################### auction */

.auction, .converter {
	.site-section {
		overflow: hidden;
		padding: 117px 0 50px;

		background: #eaeaea;
		background: -moz-linear-gradient( top, #eaeaea 0%, #ffffff 100%);
		background: -webkit-linear-gradient( top, #eaeaea 0%, #ffffff 100%);
		background: linear-gradient( to bottom, #eaeaea 0%, #ffffff 100%);
	}

	@media(max-width:991px) {
		.site-section {
			padding: 0 0 50px;
		}
	}
}

/*################################################################################### ABOUT */

	.about {
		.intro {
			height: 670px;
			overflow: hidden;
			padding: 117px 0 0 0;

			background: #eaeaea;
			background: -moz-linear-gradient( top, #eaeaea 0%, #ffffff 100%);
			background: -webkit-linear-gradient( top, #eaeaea 0%, #ffffff 100%);
			background: linear-gradient( to bottom, #eaeaea 0%, #ffffff 100%);

			img {
				padding-top: 100px;
			}


		}
	@media(max-width:767px) {
	    .intro {
	    	height: auto;
			padding: 50px 0;
			background-size: auto;

			img {
				display: none;
			}

		}
		.options {
			margin-top: 0 !important;
			padding-top: 50px;
		}

	    .buy-nav {
		    margin-top: 0;
			padding-top: 50px;
			padding-bottom: 0;

			.buy-block,
			.buy-block .nav-intro {
				height: auto;
			}
	    }
	}
	@media(min-width:767px) and (max-width: 991px) {
		.intro {
	    	height: auto;
			padding: 50px 0 150px;

			h1 {
				padding-top: 100px;
			}
			img {
				padding-top: 50px;
			}
		}

	    .buy-nav {
		    margin-top: 0;
			padding-top: 50px;

			.buy-block .nav-intro {
				height: 190px;
				padding: 30px 20px 20px;
			}
		}
	}

	.options {
		margin-top: -100px;
		.option {
			text-align: center;
			max-width: 369px;
			margin: 0 auto;
			h2 {
				font-size: 25px;
				text-align: center;
				margin: 40px 0 30px;
			}
		}
		h4 {
			color: $gray-mute;
			text-align: center;
			margin-bottom: 20px;
		}
	}

	.principles {
		h3 {
			position: relative;
			background-color: $purple;
			height: 62px;
			font-weight: 500;
			span {
				position: relative;
				z-index: 1;
				&.angle {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 62px 0 0 62px;
					border-color: transparent transparent transparent #6548d9;
					z-index: 0;
				}
			}
		}
	}
	.origin {
		overflow: hidden;
		padding-top: 95px;
		>img {
			position: absolute;
			right: -145px;
			top: 0;
			@media (min-width: 992px) and (max-width: 1199px) {
				max-width: 60%;
			}
			@media (min-width: 768px) and (max-width: 991px) {
				max-width: 66%;
			}
			@media (max-width: 767px) {
				position: relative;
				right: auto;
				top: auto;
				padding: 40px;
			}
		}
		@media (max-width: 767px) {
			padding-top: 0;
		}
	}
	.subscribe {
		position: relative;
		padding: 0 0 51px;

		.bg-dark {
			position: relative;
			padding: 45px;
		}
		.plus {
			position: absolute;
			left: -18px;
			top: 47px;
			display: block;
			width: 39px;
			height: 39px;
			padding: 5px;
			background-color: $purple;
			border-radius: 50%;
			text-align: center;
		}
		form {
			text-align: right;
			.email, .btn {
				width: 240px !important;
				display: inline-block;
				border-width: 2px;
				height: 48px;
				vertical-align: top;
			}
			.email {
				color: $white;
				background-color: transparent;
				border-color: #7e61f8;
			}
			.btn {
				border: none;
			}
		}
		@media (max-width: 767px) {
			padding: 60px 0;
			.bg-dark {
				h3 {
					margin-bottom: 15px;
				}
			}
			.plus {
				top: -18px;
				left: calc(50% - 18px);
			}
			form {
				text-align: center;
				input {
					margin: 2px 0 !important;
				}
			}
		}
	}
	.team {
		h4 {
			font-size: 18px;
		}
		p {
			line-height: 1.4em;
		}
	}
	.info {
		background-color: #7E61F8;
		padding: 100px 0;
		p {
			max-width: 470px;
			opacity: .85;
		}
	}
}

/*################################################################################### ROADMAP */
.roadmap {

	header.site-header {

		.navbar .navbar-nav .nav-item.active .nav-link,
		.navbar .navbar-nav .nav-item:hover .nav-link {
			color: #FFF;
		}
	}

	.intro {
		height: 550px;
		overflow: hidden;
		padding: 117px 0 0 0;
		background-image: url('../images/whispy-bg-purple.jpg');
		background-position: right top;
		background-size: cover;

		h4.sup-title {
			display: inline-block;
		    padding-top: 100px;
		    font-weight: 500;
		    color: #FFF;
		    padding-bottom: 15px;
			border-bottom: 2px solid rgba(255,255,255,.5);
		}
		h1.page-title {
			padding-top: 30px;
		}

		p {
			font-weight: 500;
			margin-top: 25px;
		}
		@media(max-width:767px) {
			h4.sup-title {
				padding-top: 0;
			}
		}
	}
	.buy-nav {
		margin-top: 0;
	}
	@media(max-width:767px) {
		.intro {
	    	height: auto;
			padding: 50px 0;
		}
	    .buy-nav {
		    margin-top: 0;
			padding-top: 50px;
			padding-bottom: 0;

			.buy-block,
			.buy-block .nav-intro {
				height: auto;
			}
	    }
	}
	@media(min-width:767px) and (max-width: 991px) {
	    .intro {
	    	height: auto;
			padding: 50px 0;
		}
	    .buy-nav {
		    margin-top: 0;
			padding-top: 50px;

			.buy-block .nav-intro {
				height: 190px;
				padding: 30px 20px 20px;
			}
		}
	}

	.info {
		padding-bottom: 0;
		margin: 100px 0;
		background-image: url('../images/grade-bl.png');
		background-position: right bottom;
		background-repeat: no-repeat;

		.info-inner {
			max-width: 460px;
		}
		h2 {
			font-size: 35px;

			@media(max-width:991px) {
				font-size: 28px;
			}
		}
		h4 {
			padding: 35px 0;
			margin-bottom: 35px;
			border-bottom: 2px solid rgba(178,178,178, .5);
		}
		@media(max-width: 767px) {
			margin: 50px 0 75px;
			img {
				margin: 20px auto 0 !important;
				max-width: 100%;
			}
		}
	}
	.validations {
		h2 {
			display: inline-block;
			font-weight: 500;
			padding-bottom: 15px;
			border-bottom: 2px solid rgba(178,178,178, .5);
		}
		h4.h2 {
			font-size: 35px;
			margin: 30px 0;
		}
	}

	.phases {

		.phase {
			&:before {
				content: "";
				display: block;
				padding-top: 115px;
				margin-top: -115px;
			}
			.phase-info {
				position: relative;
				padding-left: 15px;
				h4 {
					display: inline-block;
					padding-right: 20px;
					border-bottom: 2px solid #d1d1d1;
					font-weight: 500;
					padding-bottom: 20px;
					margin-bottom: 40px;
				}
				h2 {
					font-size: 35px;
				}
			}
			.process-nav {
				display: none;
				/* position: absolute;
				left: -30px;
				top: 96px;
				ul {
					list-style: none;
					padding: 0;
					margin: 0;
					li {
						font-size: 10px;
						line-height: 1em;
						padding-bottom: 10px;
						a {
							color: #B2B2B2;
						}
						&:hover a, &:focus a, &.active a {
							color: #7C7C7C;
						}
					}
				} */
			}
			@media(max-width: 1199px) {
				margin-bottom: 100px;

				.card-image {
					img {
						max-width: 100%;
						margin: 20px auto 0;
					}
				}
			}

		} //.phases
		.phase-buffer img {
			display: block;
		    margin-left: auto;
		    margin-right: 25px;
		}

		@media(max-width:767px) {
			.phase .phase-info {
				padding-left: 30px;
			}
			.phase .process-nav {
				left: 0;
			}
		}
	}
	.chainhop-timeline {
		padding-top: 10px;
		margin-top: 150px;

		.validator {
			margin: -72px 0 100px;

			.bg-dark {
				background: #212121;
				padding: 50px 40px;
				font-weight: 500;
			}
		}
		.timeline {

			h2 {
				font-size: 35px;
				margin-bottom: 45px;
			}
			.chainhop-slider {

				.chainhop-slide {
					text-align: center;
					width: 168px;
					margin: 0 auto;
					background-color: #333335;
					border: 2px solid #333335;

					&.slide-purple {
						background-color: #6C50E2;
						border-color: #6C50E2;
					}
					&.slide-purple-lt {
						background-color: #CBBEFF;
						border-color: #CBBEFF;

						h4 {
							color: #7E61F8 !important;
						}
					}

					.slide-title {
						font-size: 14px;
						font-weight: bold;
						color: #FFF;
						text-transform: uppercase;
						padding: 10px;
					}
				}

			}
		}

		@media(max-width:991px) {
			margin-top: 50px;
		}
	} //.chainhop-timeline

	.links {
		margin: 100px 0 50px;
	}

}

/*################################################################################### NEWS */
body.latest-news {
	
	background: #eaeaea;
	background: -moz-linear-gradient( top, #eaeaea 0%, #ffffff 100%);
	background: -webkit-linear-gradient( top, #eaeaea 0%, #ffffff 100%);
	background: linear-gradient( to bottom, #eaeaea 0%, #ffffff 100%);

	.news-page {
		padding: 200px 0 80px;

		.news-main {

			.nav-tabs {

				border-bottom: 2px solid rgba(126,97,248, .5);
				margin-bottom: 50px;

				.nav-link {
					
					border: none;
					padding: 10px 40px;
					text-transform: uppercase;
					font-weight: 700;
					background-color: rgba(126,97,248, .5);
					color: #FFF;
					margin-right: 8px;

					&.active,
					&:hover,
					&:focus {
						background-color: #7E61F8;
					}

				}

				@media(max-width: 767px) {
					justify-content: center;

					.nav-link {
						border-radius: .25rem;
						margin-bottom: 5px;
					}
				}
			}

			.blog-content {
				
				margin-bottom: 50px;
				h4 {
					font-weight: 700;
					font-size: 18px;
					margin-top: 15px;

					a {
						color: #333335;
					}
				}
				h4.date {
					font-size: 14px;
					font-weight: 400;
					color: #7C7C7C;
				}
				h3,
				figure {
					display: none;
				}
			}

			.medium-cta {
				background-color: #212121;
				font-size: 20px;
				font-weight: 500;
				color: #FFF;
				margin-top: 80px;

				.cta-text {
					padding: 15px 15px 15px 40px; 
				}

				@media(max-width: 480px) {

					margin-top: 50px;

					img {
						width: 70px !important;
						height: 70px !important;
					}
					.cta-text {
						padding: 10px 10px 10px 20px;
						font-size: 16px; 
					}
				}
			}

			.news-feed {

				.news-item {
					min-height: 185px;
					padding: 30px 25px;
					background-color: rgba(126,97,248, .1);
					border-radius: 10px;

					img {
						display: block;
						margin-bottom: 20px;
					}

					a {
						font-weight: 500;
						font-size: 17px;
						text-decoration: underline;
					}
				}
			}
		}

		@media(max-width: 991px) {
			padding: 20px 0;
		}
	}
}

/*################################################################################### PRIVACY */
.privacy {

		background: #eaeaea;
		background: -moz-linear-gradient( top, #eaeaea 0%, #ffffff 100%);
		background: -webkit-linear-gradient( top, #eaeaea 0%, #ffffff 100%);
		background: linear-gradient( to bottom, #eaeaea 0%, #ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff', GradientType=0);

	.legal {
		padding-top: 117px;

		@media(max-width:768px) {
			padding-top: 0;
		}
	}
}
/*################################################################################### 404 */
.err-404 {

	background: #eaeaea;
	background: -moz-linear-gradient( top, #eaeaea 0%, #ffffff 100%);
	background: -webkit-linear-gradient( top, #eaeaea 0%, #ffffff 100%);
	background: linear-gradient( to bottom, #eaeaea 0%, #ffffff 100%);

	.site-section.intro {
		padding: 150px 0 150px;

		h1.page-title {
			padding-top: 30px;
		}

		@media(max-width:991px) {
			padding: 20px 0 150px;
		}
	}
}
