/* Fonts */
$roboto: 'Roboto', sans-serif, Arial;

/* Colors */
$white: #ffffff;
$gray-body: #626262;
$gray-dark: #333335;
$gray-sub: #707070;
$gray-mute: #7c7c7c;
$gray-light: #afafaf;
$purple: #7e61f8;
$purple-dark: #6448d9;
