@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Muli-Regular.ttf') format('truetype');
}
.noMarginPadding {
  margin: 0px;
  padding: 0px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.centered {
  width: 100%;
  text-align: center;
}
.one-third {
  width: calc(100% / 3);
}
.two-thirds {
  width: 66.66%;
}
.half {
  width: calc(100% / 2);
}
.one-fourth {
  width: calc(100% / 4);
}
.three-fourths {
  width: 75%;
}
.one-fifth {
  width: calc(100% / 5);
}
.one-sixth {
  width: calc(100% / 6);
}
.one-seventh {
  width: calc(100% / 7);
}
.one-eighth {
  width: calc(100% / 8);
}
.list-none {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.clearInner {
  clear: both;
  position: relative;
  width: 100%;
}
.dashedBG {
  background: repeating-linear-gradient(90deg, #292929, #292929 3px, #343434 3px, #343434 6px);
}
.displayNone {
  display: none!important;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
  html body .container__wrapper.main__header .container__main {
    text-align: center;
    padding: 15px;
  }
  html body .logo {
    width: 150px;
    float: none;
    position: relative;
    margin: 0 auto;
    padding: 15px 0 15px 0;
  }
  html body .container__mobile-navigation {
    margin-top: 15px;
  }
  html body .container__primary,
  html body .container__sidebar {
    width: 100%;
    float: none;
    border-right: none;
  }
  html body .container__counter,
  html body .container__tokens {
    width: 100%;
    padding: 15px 0 10px 0;
  }
  html body .container__inner-padding {
    padding: 10px 0 10px 0;
  }
  html body .one-third.left,
  html body .half.left,
  html body .half.right {
    width: 100%;
    text-align: left;
  }
  html body .container__main {
    padding: 0px 0px 0px 0px!important;
  }
  html body .container__navigation {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  html body .button__learn-more,
  html body .button__visit-auction-dashboard {
    float: none;
  }
  html body .container__general-stats .left {
    float: none;
    width: 100%;
  }
  html body .equals {
    display: none;
  }
  html body .container__mobile-navigation {
    display: inherit;
  }
  html body .overview__price-container span {
    font-size: 18px!important;
  }
  html body .overview__price-container span.overview__eth-price {
    font-size: 32px!important;
  }
  html body .AuctionPanel {
    width: 90%;
  }
  html body h1.downloads__header-title {
    font-size: 32px!important;
  }
  html body .downloads__app-screenshot {
    transform: translateZ(-0.1px) !important;
  }
  html body .downloads__app-screenshot img {
    position: relative;
    width: 400px;
  }
  html body .envelope__footer-downloads li {
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }
}
@media only screen and (max-device-width: 1150px), only screen and (max-device-width: 1150px), only screen and (max-width: 1130px) {
  body .tokens-percentage,
  body .label__general-stats,
  body .container__one-third {
    width: 100%;
  }
  body .container__counter,
  body .container__tokens {
    width: 100%;
    padding: 15px 0 10px 0;
  }
  body .container__counter .label__title,
  body .container__tokens .label__title,
  body .container__counter .AuctionCounter--inner,
  body .container__tokens .AuctionCounter--inner {
    border-right: 0px;
  }
  body .container__tokens-percentage {
    clear: both;
    width: 100%;
    margin-top: 10px;
    display: inline-block;
  }
  body .container__mtn-exchanger .container__one-third--inner,
  body .container__mtn-auction .container__one-third--inner {
    margin-right: 15px;
  }
  body .container__primary .container__primary--padding {
    padding-left: 15px;
  }
  body .container__navigation {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  body .container__navigation ul {
    margin-left: 10px;
  }
  body .container__navigation ul li {
    padding: 10px 0 0 0;
  }
  body .button__visit-auction-dashboard {
    margin-bottom: 15px;
  }
  body .container__navigation {
    display: none;
  }
  body .container__mobile-navigation {
    display: inherit;
  }
}
/* html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  background: #343434;
  text-align: center;
  font-family: 'Muli', Arial, sans-serif;
}
a {
  cursor: pointer;
} */
.App,
#root {
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block;
}
.logo {
  display: inline-block;
  max-width: 243px;
  margin: 23px 0 23px 20px;
  float: left;
}
.container__navigation,
.container__mobile-navigation {
  float: right;
  display: inline-block;
  position: relative;
  margin-top: 25px;
}
.container__navigation ul,
.container__mobile-navigation ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.container__navigation ul li,
.container__mobile-navigation ul li {
  display: inline-block;
  float: left;
  margin: 0 15px 0 0;
  font-size: 15px;
}
.container__navigation ul li a,
.container__mobile-navigation ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 0 5px 0;
}
.container__navigation ul li a.active,
.container__mobile-navigation ul li a.active {
  color: #7e61f8;
  border-bottom: solid 2px #7e61f8;
}
.container__navigation ul li a:hover,
.container__mobile-navigation ul li a:hover {
  color: #7e61f8;
}
/* h2 {
  color: #fff;
  margin: 10px 0 0 0;
  padding: 0px;
  font-weight: 300;
} */
.label__title {
  position: relative;
  display: block;
  background: #3B3B3B;
  border-top: solid 1px #202020;
  border-bottom: solid 1px #202020;
  color: #C1C1C1;
  padding: 20px 0 20px 20px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
}
.container__wrapper {
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.container__wrapper.main__header {
  background-color: #292929;
  text-align: left;
}
.container__wrapper.main__header .container__main {
  text-align: left;
  width: 100%;
}
.container__main {
  position: relative;
  margin: 0 auto;
  clear: both;
  text-align: left;
  border-bottom: solid 1px #202020;
  max-width: 100%;
  padding: 0px;
}
.container__primary {
  float: left;
  width: 66.66%;
  margin: 0px;
  padding: 0px;
}
.container__primary .container__primary--inner {
  border-right: solid 1px #202020;
}
.container__sidebar {
  position: relative;
  height: 100%;
  float: right;
  width: calc(100% / 3);
  margin: 0px;
  padding: 0px;
}
.container__counter {
  display: inline-block;
  position: relative;
  float: left;
  width: calc(100% / 3);
  margin: 0px;
  padding: 0px;
}
.container__counter .label__title {
  border-right: solid 1px #202020;
}
.container__tokens {
  display: inline-block;
  position: relative;
  width: 66.66%;
  margin: 0px;
  padding: 0px;
}
.container__tokens-label {
  position: relative;
  display: inline-block;
  margin: 8px 0 0 15px;
  padding: 0px;
  float: left;
}
.container__main-fixed.--fixed {
  position: fixed;
  background-color: #292929;
  z-index: 11;
  width: 100%;
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}
.container__current-headlines {
  position: relative;
}
.container__current-headlines .label__title {
  background: none;
  border: none;
}
.container__current-headlines .container__general-stats--padding,
.container__current-headlines .container__current-headlines--padding {
  padding: 15px;
}
.container__current-headlines ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px 0px 0px 10px;
}
.container__current-headlines ul li {
  color: #C1C1C1;
  text-decoration: none;
  font-size: 13px;
  font-weight: 100;
  list-style-type: none;
  padding: 10px;
  position: relative;
}
.container__current-headlines ul li a {
  color: #C1C1C1;
  text-decoration: none;
  font-weight: bold;
}
.container__general-stats {
  position: relative;
  width: 100%;
  clear: both;
  display: inline-block;
  border-top: solid 1px #463f63;
}
.container__general-stats .container__inner {
  padding: 15px;
  border-right: solid 1px #202020;
}
.container__general-stats.--fixed-margin {
  margin-top: 78px;
}
.label__general-stats {
  position: relative;
  margin: 5px 0 0 0;
  color: #fff;
  font-size: 13px;
}
.numeral__general-stats {
  color: #45D48D;
  font-size: 16px;
}
.numeral__general-stats .label__delta-stats {
  color: #fff;
  font-size: 13px;
}
.table__row {
  position: relative;
  width: 100%;
  clear: both;
  display: inline-block;
  margin: 0 0 15px 0;
}
.equals {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 45%;
}
ul.price__compare {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
ul.price__compare li {
  padding: 3px;
}
.price__compare {
  color: #C1C1C1;
  background-color: #292929;
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
  display: inline-block;
}
.container__tokens-percentage {
  position: relative;
}
.tokens-percentage {
  position: relative;
  background-color: #292929;
  border-radius: 15px;
  height: 7px;
  border: 3px solid #292929;
  padding: 0px;
  margin: 25px 0 0 0;
  float: left;
  width: 66.66%;
}
.tokens-percentage .rc-progress-line {
  position: relative;
  top: -8px;
  margin: 0px;
  padding: 0px;
}
.tokens__progress-bar {
  background: #7e61f8;
  position: relative;
  height: 7px;
  border-radius: 15px;
}
.tokens__progress-arrow {
  position: absolute;
  right: 0px;
  top: -3px;
  border-right: 1px solid #fff;
  width: 1px;
  height: 15px;
}
.tokens__progress-arrow .arrow-up {
  position: absolute;
  left: -2px;
}
.tokens__remainder-label {
  position: absolute;
  padding-top: 15px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  text-align: right;
}
.tokens__remainder-label .tokens__remainder {
  position: relative;
  left: 35px;
}
.container__largest-delta {
  position: relative;
  width: 100%;
  display: inline-block;
  clear: both;
  margin: 0px;
  padding: 0px;
}
.container__largest-delta .data__mini-delta {
  color: #45D48D;
  font-size: 12px;
}
.container__largest-delta .container__largest-delta--padding {
  padding: 15px 0 25px 0;
}
.container__inner-padding {
  position: relative;
  padding: 15px 0 10px 0;
  width: 100%;
  display: inline-block;
  clear: both;
}
.container__row {
  width: 100%;
  clear: both;
  display: inline-block;
  position: relative;
  margin: 0px;
  padding: 0px;
}
.row--header {
  padding: 0px;
  margin: 0px;
}
.container__one-third {
  display: inline-block;
  float: left;
  width: calc(100% / 3);
}
.container__one-third .label__title {
  display: inline-block;
  padding: 0px;
  margin: 0 0 15px 0;
  border: none;
}
.container__one-third--inner {
  margin: 15px 0 0 0;
  padding: 15px;
  min-height: 300px;
  border-radius: 8px;
  background-color: #3B3B3B;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 4px 16px 0 rgba(0, 0, 0, 0.16);
}
.container__mtn-auction .container__one-third--inner {
  margin-left: 15px;
  padding: 0px;
  overflow: hidden;
}
.container__mtn-auction .container__one-third--inner .label__price {
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}
.container__mtn-auction .container__one-third--inner .half.left,
.container__mtn-auction .container__one-third--inner .half.right {
  text-align: center;
}
.container__mtn-auction .container__one-third--inner .table__row {
  background: #343434;
  padding: 25px 0 25px 0;
  border-top: solid 1px #292929;
  border-bottom: solid 1px #292929;
}
.container__mtn-auction .container__one-third--inner .label__title {
  padding: 15px 15px 0px 15px;
}
.container__markets .container__one-third--inner {
  margin: 15px 15px 0px 15px;
}
.container__mtn-exchanger .container__one-third--inner {
  margin-right: 15px;
}
.container__mtn-exchanger .container__one-third--inner .label__price {
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}
.container__markets table {
  width: 100%;
  border-collapse: collapse;
  font-size: 11px;
  color: #C1C1C1;
}
.container__markets table td {
  padding: 5px;
}
.container__markets table tr {
  border-bottom: solid 1px #292929;
}
.label__auction-price,
.label__exchange-rate {
  font-size: 12px;
  color: #C1C1C1;
  width: 100%;
  text-align: center;
  display: inline-block;
}
.button__learn-more {
  display: inline-block;
  float: right;
  padding: 0px;
  margin: 15px 15px 0 0;
}
.button__learn-more .button__drop-down {
  display: none;
  position: absolute;
  z-index: 10;
  width: 245px;
  background-color: #fff;
}
.button__learn-more .button__drop-down ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.button__learn-more .button__drop-down a {
  display: block;
  font-size: 12px;
  text-transform: inherit;
  text-decoration: none;
  position: relative;
  background-color: #fff;
  padding: 15px 25px 15px 25px;
  color: #202020;
}
.button__learn-more .button__drop-down a:hover {
  color: #fff;
  background-color: #7e61f8;
}
.button__learn-more a {
  display: block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  background-color: #7e61f8;
  padding: 15px 25px 15px 25px;
  color: #fff;
}
.button__learn-more .arrow-down {
  float: right;
  display: inline-block;
  margin: 0 0 0 10px;
  position: relative;
  top: 6px;
}
.button__visit-auction-dashboard {
  display: inline-block;
  float: right;
  padding: 0px;
  margin: 15px 15px 0 0;
}
.button__visit-auction-dashboard a {
  display: block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  background-color: #fff;
  padding: 15px 65px 15px 65px;
  color: #7e61f8;
}
.tokenInvestorSelector {
  height: 20px;
  float: right;
  min-width: 285px;
  margin-top: 25px;
  margin-right: 35%;
  display: none;
  text-align: left;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.tokenInvestorSelector.toggleOpen {
  background: #202020;
  padding: 9px 15px 15px 15px;
  position: relative;
  top: -8px;
  right: -15px;
  border-radius: 15px;
}
.tokenInvestorSelector.toggleOpen .investorDropdownSelector {
  display: block;
}
.arrow-down {
  width: 0;
  height: 0;
  top: 14px;
  margin: 0 auto;
  position: relative;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}
.arrow-up {
  width: 0;
  height: 0;
  top: 14px;
  margin: 0 auto;
  position: relative;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}
.investorTokenSpan {
  display: inline-block;
  position: relative;
  margin: 4px 0 0 0;
}
.toggleDash {
  position: relative;
  display: inline-block;
  background: #202020;
  text-align: center;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  border: solid 1px #7e61f8;
  float: right;
}
.container__auction-timer {
  background-color: #292929;
  border-radius: 15px;
  height: 64px;
  position: relative;
  clear: both;
  display: inline-block;
}
.container__auction-timer .auction-timer__section {
  position: relative;
  top: 12px;
  padding: 13px;
  border-right: solid 2px #3B3B3B;
  font-size: 32px;
  color: #7e61f8;
}
.container__auction-timer .auction-timer__section:last-of-type {
  border-right: none;
}
.auction-timer__labels {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  position: relative;
  margin-top: 30px;
}
.auction-timer__labels li:first-of-type {
  padding-left: 8px;
}
.auction-timer__labels li:nth-child(3) {
  padding-left: 33px;
}
.auction-timer__labels li:nth-child(4) {
  padding-left: 31px;
}
.auction-timer__labels li {
  float: left;
  display: inline-block;
  padding: 0 0 0 19px;
}
.AuctionCounter--inner {
  padding: 25px 0px 45px 20px;
  height: 80px;
  border-right: solid 1px #202020;
}
.container__auction--inner {
  padding: 25px;
}
.investorDropdownSelector {
  background-color: #fff;
  z-index: 10;
  position: absolute;
  display: none;
  margin-top: 20px;
  margin-left: 20px;
  width: 250px;
  border-radius: 15px;
}
.investorDropdownSelector ul {
  list-style-type: none;
  overflow: hidden;
  border-radius: 15px;
  margin: 0px;
  padding: 0px;
}
.investorDropdownSelector li {
  position: relative;
  clear: both;
  display: inline-block;
  width: 100%;
}
.investorDropdownSelector li a {
  color: #343a40;
  padding: 15px;
  text-decoration: none;
  position: relative;
  display: block;
  width: 100%;
}
.investorDropdownSelector li a:hover,
.investorDropdownSelector li a.active {
  background-color: #463f63;
  color: #7e61f8;
}
.investorDropdownSelector .arrow-up {
  width: 0;
  height: 0;
  top: -5px;
  left: 120px;
  margin: 0 auto;
  position: absolute;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fff;
}
.container__mtn-price {
  position: relative;
  border-top: solid 1px #292929;
}
.container__mtn-price select {
  display: none;
}
.container__mtn-price label {
  display: none;
}
.chartlabels {
  color: #fff;
  font-size: 12px;
}
.chart__main-label {
  position: relative;
  margin: 0px;
  padding: 15px;
  display: inline-block;
  float: left;
}
.chart__dropdown-time-selector {
  float: right;
  display: inline-block;
  position: relative;
  margin: 15px 15px 0 0;
  padding: 0px;
  text-transform: uppercase;
  cursor: pointer;
}
.chart__dropdown-time-selector .label__selector {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 1.6px;
  color: #fff;
}
.chart__dropdown-time-selector .arrow-down {
  float: right;
  display: inline-block;
  margin: 3px 0 0 7px;
  position: relative;
  top: 6px;
}
.chart__dropdown-time-selector .chart__dropdown-time-selector--dropdown {
  background-color: #fff;
  display: block;
  position: absolute;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  text-transform: none;
  width: 200px;
  z-index: 20;
  left: -70px;
}
.chart__dropdown-time-selector .chart__dropdown-time-selector--dropdown li {
  display: block;
  margin: 0px;
  padding: 0px;
}
.chart__dropdown-time-selector .chart__dropdown-time-selector--dropdown li a.--active {
  background-color: #e5e0fd;
}
.chart__dropdown-time-selector .chart__dropdown-time-selector--dropdown li a {
  width: calc(100% - 30px);
  display: block;
  margin: 0px;
  padding: 15px;
}
.chart__dropdown-time-selector .chart__dropdown-time-selector--dropdown li a:hover {
  background-color: #f6f4fe;
}
.label__Auction-Price {
  margin: 0 10px 0 0;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #C1C1C1;
}
.label_-ETH {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #fff;
}
.charts__volume-bar {
  position: absolute;
  width: 100%;
  bottom: 9.7%;
}
.overview__top-half {
  background-color: #343434;
  height: 45%;
  padding: 25px 0 0 0;
  width: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
}
.overview__current-auction-price {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #fff;
  clear: both;
  display: block;
}
.overview__current-auction-message {
  font-size: 24px;
  font-weight: 100;
  line-height: 1;
  letter-spacing: normal;
  color: #fff;
  margin: 10px 0 0 0;
  display: block;
}
.overview__current-auction-message-sm {
  font-size: 16px;
  color: #fff;
  position: relative;
  display: block;
  margin: 10px 0 0 0;
}
.overview__current-auction-countdown {
  font-size: 32px;
  margin-bottom: 15px;
  color: #fff;
  display: block;
}
.overview__current-auction-error {
  font-size: 24px;
  margin-bottom: 5px;
  color: #fff;
  display: block;
}
.overview__current-auction-error-message {
  font-size: 16px;
  margin-bottom: 15px;
  color: #fff;
  display: block;
}
a.overview__current-auction-error-link {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 1.6px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.overview__eth-price {
  font-size: 64px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -2px;
  color: #7e61f8;
  clear: both;
  display: block;
}
.overview__price-container {
  position: relative;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 450px;
  left: -62px;
}
.overview__countdown-container {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.overview__message-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.overview__met-container {
  width: 328px;
  margin: 0 auto;
  z-index: 5;
  display: inline-block;
  position: absolute;
  bottom: -130px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.overview__met-container--inner {
  border-radius: 4px;
  background-color: #3b3b3b;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.overview__met-header {
  border-bottom: solid 1px #292929;
  display: inline-block;
  width: 100%;
  text-align: left;
}
.overview__met-header--inner {
  padding: 10px;
}
.overview__met-container-title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 2px;
  color: #fff;
}
.overview__met-icon {
  float: left;
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0px;
}
.overview__time-left-container {
  background: #343434;
  display: inline-block;
  width: 100%;
  clear: both;
  position: relative;
  border-bottom: solid 1px #292929;
}
.overview__time-left-remaining {
  float: left;
  width: 50%;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
.overview__time-left-remaining .overview__time-left-remaining--inner {
  border-right: solid 1px #292929;
  padding: 15px 0 15px 0;
}
.overview__time-left-available {
  float: left;
  width: 50%;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
.overview__time-left-available .overview__time-left-available--inner {
  padding: 15px 0 15px 0;
}
.overview__time-left-remaining--time {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  display: block;
  color: #fff;
}
.overview__time-left-remaining--remaining {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  display: block;
  color: #c2c4c6;
}
.overview__buy-met {
  width: 100%;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
.overview__buy-met--inner {
  padding: 15px;
}
.overview__buy-met--inner .btn {
  width: 100%;
  display: block;
  background: #fff;
  text-align: center;
  color: #7e61f8;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 15px 0 15px 0;
  cursor: pointer;
}
.overview__visit-dashboard {
  position: relative;
  padding: 3px 0 20px 0;
}
.overview__visit-dashboard a {
  cursor: pointer;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 2px;
  text-decoration: none;
}
.MainDashboard.--showDashboard {
  display: inherit;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}
.--hide {
  display: none;
}
.container__mobile-navigation {
  display: none;
  margin-right: 25px;
}
.container__mobile-navigation a {
  cursor: pointer;
}
.container__mobile-navigation img {
  width: 20px;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.AuctionInProgress,
.AuctionDepleted,
.AuctionWaiting,
.AuctionError {
  height: 100%;
}
.--screenDarken {
  opacity: 0.3;
  -webkit-animation: screenDarkenFadeIn 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: screenDarkenFadeIn 1s;
  /* Firefox < 16 */
  -ms-animation: screenDarkenFadeIn 1s;
  /* Internet Explorer */
  -o-animation: screenDarkenFadeIn 1s;
  /* Opera < 12.1 */
  animation: screenDarkenFadeIn 1s;
  cursor: pointer;
}
.AuctionCounterSm .VictoryContainer {
  height: 60px!important;
}
.auction__counter-sm {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.auction__counter-sm-remaining {
  display: block;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c2c4c6;
}
.auction__met-remaining-sm {
  width: 40px;
  height: 40px;
  background-color: #202020;
  margin: 0 auto;
  position: relative;
  margin-bottom: 15px;
  margin-top: 5px;
}
.auction__met-remaining-sm .auction__met-remaining-sm--fill {
  background-color: #7e61f8;
  width: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
}
.btn-disabled {
  opacity: 0.5;
  cursor: default;
}
.error_icon {
  width: 32px;
  height: 32px;
  color: #fff;
  object-fit: contain;
}
.AuctionPanel {
  height: 100%;
  display: none;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 460px;
  z-index: 10000;
  background-color: #343434;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}
.AuctionPanel.--slideOut {
  display: inherit;
  visibility: visible !important;
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  transition-timing-function: ease;
}
@keyframes slideLeft {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideLeftFadeIn {
  0% {
    transform: translateX(80%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes slideLeftFadeIn {
  0% {
    transform: translateX(80%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.auction-panel__header.header__buy-met.--showBuyMetHeader {
  display: inline-block;
}
.auction-panel__header.header__buy-met {
  display: none;
}
.auction-panel__header.header__meta-mask.--showMetaMask {
  display: inline-block;
}
.auction-panel__header.header__meta-mask.--showMetaMask h2 {
  animation-name: slideLeftFadeIn;
  -webkit-animation-name: slideLeftFadeIn;
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  transition-timing-function: ease;
}
.auction-panel__header.header__meta-mask {
  display: none;
}
.auction-panel__header {
  background-color: #7e61f8;
  display: inline-block;
  clear: both;
  position: relative;
  height: 64px;
  width: 100%;
}
.auction-panel__header .auction-panel__header--inner {
  padding: 17px 15px 15px 15px;
}
.auction-panel__header h2 {
  display: inline-block;
  margin: 0px 0px 0px 15px;
  position: relative;
  top: -4px;
  padding: 0px;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  float: left;
}
.auction-panel__header .auction-panel__metIcon {
  float: left;
  margin: 0px;
  padding: 0px;
}
.auction-panel__header .auction-panel__back-arrow {
  float: left;
  margin: 0px;
  padding: 0px;
  transform: rotate(180deg);
}
.auction-panel__header .auction-panel__close {
  float: right;
  cursor: pointer;
}
.panel__buy-metronome {
  display: none;
}
.panel__buy-metronome.--showBuyMet {
  display: inherit;
}
.buy-meta-mask__section {
  clear: both;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: inline-block;
}
.buy-meta-mask__current-price {
  display: inline-block;
  float: left;
  margin: 0px;
  padding: 0px;
}
.buy-meta-mask__current-price span {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #fff;
}
.buy-meta-mask__form-totals {
  text-align: right;
}
.buy-meta-mask__form-totals span {
  color: #fff;
  font-size: 13px;
}
.buy-meta-mask__review-order {
  text-align: left;
}
.buy-meta-mask__review-order span {
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
}
.buy-meta-mask__review-order a.btn.--disabled {
  opacity: 0.5;
  cursor: default;
}
.buy-meta-mask__review-order a.btn {
  cursor: pointer;
  margin-top: 25px;
  width: 100%;
  display: block;
  color: #fff;
  background-color: #7e61f8;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  text-align: center!important;
  padding: 16px 0 16px 0;
}
.buy-meta-mask__review-order span.buy-meta-mask__review-disclaimer {
  color: #fff;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  display: block;
  font-size: 13px;
}
.buy-meta-mask__form-group {
  clear: both;
  position: relative;
  display: inline-block;
  text-align: left;
  margin-top: 15px;
  width: 100%;
}
.buy-meta-mask__form-group:first-of-type {
  margin-top: 0px;
}
.buy-meta-mask__form-group .label_overlay {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #fff;
  right: 13px;
  bottom: 10px;
}
.buy-meta-mask__form-group label {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
}
.buy-meta-mask__form-group label.right {
  color: #c2c4c6;
  font-size: 13px;
}
.buy-meta-mask__form-group input {
  border: none;
  margin-top: 10px;
  width: calc(100% - 30px);
  padding: 15px;
  background-color: #3e3956;
  color: #fff;
}
.buy-meta-mask__form-group input[type='number'] {
  -moz-appearance: textfield;
}
.buy-meta-mask__form-group input::-webkit-outer-spin-button,
.buy-meta-mask__form-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.buy-meta-mask__form-group input:focus {
  border-bottom: solid 2px #7e61f8;
  outline: none;
}
.buy-meta-mask__current-price-numeral {
  display: inline-block;
  float: right;
  margin: 0px;
  padding: 0px;
}
.buy-meta-mask__current-price-numeral span {
  font-size: 20px;
  color: #fff;
}
.panel__buy-meta-mask {
  opacity: 0;
  display: none;
}
.panel__buy-meta-mask.--showMetaMask {
  opacity: 1;
  display: inherit;
  -webkit-animation: fadein 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s;
  /* Firefox < 16 */
  -ms-animation: fadein 1s;
  /* Internet Explorer */
  -o-animation: fadein 1s;
  /* Opera < 12.1 */
  animation: fadein 1s;
}
@keyframes screenDarkenFadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
/* Firefox < 16 */
@-moz-keyframes screenDarkenFadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes screenDarkenFadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
/* Internet Explorer */
@-ms-keyframes screenDarkenFadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
/* Opera < 12.1 */
@-o-keyframes screenDarkenFadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.auction-panel__body {
  display: inline-block;
  clear: both;
  position: relative;
  overflow-x: auto;
  height: 100%;
  width: 100%;
}
.auction-panel__body .auction-panel__body--inner {
  padding: 20px;
  padding-bottom: 65px;
}
.auction-panel__body .auction-panel__body--inner h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #fff;
}
.auction-panel__body a.btn {
  cursor: pointer;
  width: 100%;
  display: block;
  color: #fff;
  background-color: #7e61f8;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  text-align: left;
  padding: 16px 0 16px 0;
}
.auction-panel__body a.btn.btn-copy-address {
  text-align: center;
}
.auction-panel__body .btn-text {
  margin-left: 16px;
}
.auction-panel__body .btn-icon {
  float: right;
  position: relative;
  top: -5px;
  margin-right: 16px;
  display: inline-block;
}
.auction-panel__body .btn-icon.--down img {
  transform: rotate(90deg);
}
.auction-panel__body section:first-of-type {
  padding-top: 0px;
}
.auction-panel__body section {
  padding: 15px 0 15px 0;
  border-bottom: solid 1px #202020;
}
.auction-panel__body .auction-panel__os-container {
  clear: both;
  padding-top: 15px;
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: left;
}
.auction-panel__body .auction__os-icon {
  display: inline-block;
  margin-right: 10px;
  float: left;
}
.auction-panel__body .auction__osv {
  font-size: 13px;
  color: #c2c4c6;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
.auction-panel__body .auction__osvspan {
  margin: 0px;
  padding: 0px;
}
.auction-panel__body .auction__all-options {
  float: right;
  display: inline-block;
}
.auction-panel__body .auction__all-options a {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
.auction-panel__body .auction__option-section {
  padding-bottom: 45px;
  position: relative;
}
.auction-panel__body .auction__option-section .auction--or-oval {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  text-align: center;
  height: 32px;
  bottom: -15px;
  border-radius: 50%;
  display: inline-block;
  background-color: #41434c;
}
.auction-panel__body .auction__option-section .auction--or-text {
  color: #fff;
  position: relative;
  top: 5px;
}
.auction-panel__body section.auction__contact-address {
  text-align: left;
}
.auction-panel__body section.auction__contact-address .auction__address-label {
  width: 100%;
  display: inline-block;
  clear: both;
  position: relative;
}
.auction-panel__body section.auction__contact-address .auction__address-label .auction__address-icon {
  margin-right: 10px;
}
.auction-panel__body section.auction__contact-address .auction__address-label .auction__address-icon,
.auction-panel__body section.auction__contact-address .auction__address-label .auction__address-text {
  float: left;
  display: inline-block;
}
.auction-panel__body section.auction__contact-address .auction__address-label .auction__address-icon h2,
.auction-panel__body section.auction__contact-address .auction__address-label .auction__address-text h2 {
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}
.auction-panel__body section.auction__contact-address .auction__address-input {
  width: calc(100% - 15px);
  margin: 0px 0px 15px 0px;
  background-color: #292929;
  border: none;
  color: #fff;
  padding: 8px 0px 8px 15px;
}
.auction-panel__body p {
  color: #c2c4c6;
  font-size: 13px;
}
.auction-panel__body section.auction__qr-code-scanner {
  border-bottom: none;
}
.auction-panel__body section.auction__qr-code-scanner .auction__qr-code-label {
  color: #fff;
  font-size: 13px;
}
.envelope {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0px;
  z-index: 2;
}
.envelope .envelope__left {
  z-index: 3;
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0px;
  border-bottom: 300px solid #F4F4F5;
  border-right: 1200px solid transparent;
}
.envelope .envelope__right {
  z-index: 2;
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-bottom: 300px solid #fff;
  border-left: 1200px solid transparent;
}
.downloads__main-container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}
.downloads__main-container .parallax__layer {
  padding: 5vh 0;
}
.downloads__main-container .parallax__layer--back {
  transform: translateZ(-0.1px);
}
.downloads__main-container .parallax__layer {
  position: relative;
}
.downloads__main-container h1.downloads__header-title {
  font-family: Muli;
  font-size: 64px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #7e61f8;
  margin: 0px;
  padding: 0px;
}
.downloads__main-container .downloads__content-container {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  display: inline-block;
  position: relative;
  clear: both;
}
.downloads__main-container .downloads__met-icon {
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
.downloads__main-container .downloads__title-container {
  position: relative;
  top: -25px;
  margin-bottom: 25px;
}
.downloads__main-container .btn {
  width: 220px;
  display: block;
  padding: 18px 10px 18px 10px;
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 1.6px;
  text-align: center;
  color: #7e61f8;
  margin: 0 auto;
  positin: relative;
}
.downloads__main-container .link__sm {
  color: #fff;
  text-decoration: underline;
  font-size: 13px;
  position: relative;
  display: block;
  margin-top: 15px;
}
.downloads__main-container .downloads__app-screenshot {
  z-index: 10;
  margin-top: 25px;
  padding: 5vh 0;
  position: relative;
  transform: translateZ(-0.1px);
}
.downloads__main-container .envelope {
  position: relative;
  bottom: 0px;
}
.downloads__main-container .envelope__footer {
  background-color: #F4F4F5;
  width: 100%;
  padding: 25px 0 25px 0;
  display: inline-block;
  clear: both;
}
.downloads__main-container .envelope__footer h2 {
  color: #525252;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  margin-bottom: 25px;
}
.downloads__main-container .envelope__footer .envelope__footer-downloads {
  position: relative;
  display: inline-block;
  clear: both;
}
.downloads__main-container .envelope__footer .envelope__footer-downloads .btn {
  width: inherit;
  padding-right: 25px;
  padding-left: 25px;
}
.downloads__main-container .envelope__footer .envelope__footer-downloads ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.downloads__main-container .envelope__footer .envelope__footer-downloads ul li {
  float: left;
  margin-right: 10px;
}
.downloads__main-container .envelope__footer .envelope__footer-coming-soon {
  font-size: 16px;
  display: block;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #525252;
  margin-top: 45px;
  margin-bottom: 85px;
}
.downloads__main-container .envelope__footer span.span__strong {
  color: #7e61f8;
}
.--slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
